[General]
log_level = "INFO"
log_file = "./Logs/ChurchSong.log"

[ChurchTools.Settings]
base_url = "https://YOUR-DOMAIN.church.tools"
login_token = "YOUR_LOGIN_TOKEN"

[ChurchTools.Replacements]
"None" = "Nobody"
"Jonathan Doe" = "Jon Doe"

[SongBeamer.Settings]
template_pptx = "${USERPROFILE}/Desktop/Data/PowerPoint/TEMPLATE_SLIDE.pptx"
portraits_dir = "${USERPROFILE}/Desktop/Data/Portraits"
temp_dir = "${USERPROFILE}/Desktop/Temp"
already_running_notice = """
SongBeamer is already running.

If you have modified your agenda but not saved it, SongBeamer will ask now whether you want to save the agenda. Answer:

- Yes: save and keep your modified agenda.
- No: discard your changes and reload agenda from ChurchTools.
- Cancel: keep your modified agenda but do not save it.

The PowerPoint slides will get updated in any case!

Click OK to continue.
"""

[SongBeamer.Slides.Opening]
content = """
    item
      Caption = 'Projector Check'
      Color = clBlack
      FileName = '${USERPROFLE}/Desktop/Data/PowerPoint/ProjectorCheck.pptx'
    end
    item
      Caption = 'Service Staff'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Temp/TEMPLATE_SLIDE.pptx'
    end
    item
      Caption = 'Welcome'
      Color = clBlack
      FileName = '${USERPROFLE}/Desktop/Data/PowerPoint/Welcome.pptx'
    end
"""

[SongBeamer.Slides.Closing]
content = """
    item
      Caption = 'Bye Bye'
      Color = clBlack
    end
"""

[[SongBeamer.Slides.Insert]]
keywords = ['Appointments', 'Dates', 'News']
content = """
    item
      Caption = 'Appointments'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Data/PowerPoint/Appointments.pptx'
    end
"""

[SongBeamer.Color.Service]
color = 'clBlack'
bgcolor = 'clAqua'

[[SongBeamer.Color.Replacements]]
match_color = '16711920'
color = 'clBlack'
bgcolor = 'clYellow'
