[General]
log_level = "INFO"
log_file = "./Logs/ChurchSong.log"

[General.Interactive]
use_unicode_font = True

[ChurchTools.Settings]
base_url = "https://YOUR-DOMAIN.church.tools"
login_token = "YOUR_LOGIN_TOKEN"

[ChurchTools.Replacements]
"None" = "Nobody"
"Jonathan Doe" = "Jon Doe"

[SongBeamer.Settings]
template_pptx = "${USERPROFILE}/Desktop/Data/PowerPoint/TEMPLATE_SLIDE.pptx"
portraits_dir = "${USERPROFILE}/Desktop/Data/Portraits"
temp_dir = "${USERPROFILE}/Desktop/Temp"

[SongBeamer.Slides.Opening]
content = """
    item
      Caption = 'Projector Check'
      Color = clBlack
      FileName = '${USERPROFLE}/Desktop/Data/PowerPoint/ProjectorCheck.pptx'
    end
    item
      Caption = 'Service Staff'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Temp/TEMPLATE_SLIDE.pptx'
    end
    item
      Caption = 'Welcome'
      Color = clBlack
      FileName = '${USERPROFLE}/Desktop/Data/PowerPoint/Welcome.pptx'
    end
"""

[SongBeamer.Slides.Closing]
content = """
    item
      Caption = 'Bye Bye'
      Color = clBlack
    end
"""

[[SongBeamer.Slides.Insert]]
keywords = ['Appointments', 'Dates', 'News']
content = """
    item
      Caption = 'Appointments'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Data/PowerPoint/Appointments.pptx'
    end
"""

[SongBeamer.Color.Service]
color = 'clBlack'
bgcolor = 'clAqua'

[SongBeamer.Color.Header]
color = 'clBlack'
bgcolor = 'clRed'

[SongBeamer.Color.Normal]
color = 'clBlack'
bgcolor = 'clYellow'

[SongBeamer.Color.Song]
color = 'clBlue'
bgcolor = 'clGrey'

[SongBeamer.Color.Link]
color = 'clBlack'
bgcolor = 'clGrey'

[SongBeamer.Color.File]
color = 'clBlack'
bgcolor = 'clGrey'
