[General]
log_level = "INFO"
log_file = "./Logs/ChurchSong.log"

[General.Interactive]
use_unicode_font = true

[ChurchTools.Settings]
base_url = "https://YOUR-DOMAIN.church.tools"
login_token = "YOUR_LOGIN_TOKEN"

[ChurchTools.Replacements]
"None" = "Nobody"
"Jonathan Doe" = "Jon Doe"

[SongBeamer.Settings]
output_dir = "${USERPROFILE}/Desktop/Output"
dayofweek_format = "%a."
date_format = "%d.%m."
time_format = "%H:%M"

[SongBeamer.PowerPoint.Services]
template_pptx = "${USERPROFILE}/Desktop/Data/PowerPoint/SERVICES.pptx"
portraits_dir = "${USERPROFILE}/Desktop/Data/Portraits"

[SongBeamer.PowerPoint.Appointments]
template_pptx = "${USERPROFILE}/Desktop/Data/PowerPoint/APPOINTMENTS.pptx"

[SongBeamer.Slides.Opening]
content = """
    item
      Caption = 'Projector Check'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Data/PowerPoint/ProjectorCheck.pptx'
    end
    item
      Caption = 'Service Staff'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Output/SERVICES.pptx'
    end
    item
      Caption = 'Welcome'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Data/PowerPoint/Welcome.pptx'
    end
"""

[SongBeamer.Slides.Closing]
content = """
    item
      Caption = 'Bye Bye'
      Color = clBlack
    end
"""

[[SongBeamer.Slides.Insert]]
keywords = ['Appointments', 'Dates', 'News']
content = """
    item
      Caption = 'Appointments'
      Color = clBlack
      FileName = '${USERPROFILE}/Desktop/Output/APPOINTMENTS.pptx'
    end
"""

[SongBeamer.Color.Service]
color = 'clBlack'
bgcolor = 'clAqua'

[SongBeamer.Color.Header]
color = 'clBlack'
bgcolor = 'clRed'

[SongBeamer.Color.Normal]
color = 'clBlack'
bgcolor = 'clYellow'

[SongBeamer.Color.Song]
color = 'clBlue'
bgcolor = 'clGrey'

[SongBeamer.Color.Link]
color = 'clBlack'
bgcolor = 'clGrey'

[SongBeamer.Color.File]
color = 'clBlack'
bgcolor = 'clGrey'
